work/_vmake
work/_lib1_0.qtl
traffic_system.mpf
work/_info
work/_lib.qdb
work/_lib1_0.qdb
work/_lib1_0.qpg
traffic_system.cr.mti
traffic_system.mpf_new
vsim.wlf
work/_lib1_1.qdb
work/_lib1_1.qpg
work/_lib1_1.qtl
work/@_opt/_lib.qdb
work/@_opt/_lib1_0.qdb
work/@_opt/_lib1_0.qpg
work/@_opt/_lib1_0.qtl
work/@_opt/_lib2_0.qdb
work/@_opt/_lib2_0.qpg
work/@_opt/_lib2_0.qtl
work/@_opt/_lib3_0.qdb
work/@_opt/_lib3_0.qpg
work/@_opt/_lib3_0.qtl
work/@_opt/_lib4_0.qdb
work/@_opt/_lib4_0.qpg
work/@_opt/_lib4_0.qtl
work/@_opt/_lib5_0.qdb
work/@_opt/_lib5_0.qpg
work/@_opt/_lib5_0.qtl
work/@_opt/_data/exempt8xn9zr
work/@_opt/_data/exemptfm3ie0
work/@_opt/_data/exemptfw3i1b
